{% from 'macro.html' import list %}
{% extends "layout.html" %}
{% block main %}

<main role="main" class="col-md-9 col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
    </div>
    <div><table class="table">
		    <tr><th>{{_("ID")}}</th><td>{{ data.id }}</td> </tr>
		    <tr><th>{{_("name")}}</th><td>{{ data.name }}</td> </tr>
		    <tr><th>{{_("OS")}}</th><td>{{ data.os }}</td> </tr>
		    <tr><th>{{_("Arch")}}</th><td>{{ data.arch }}</td> </tr>
		    <tr><th>{{_("FQDN")}}</th><td>{{ data.fqdn }}</td> </tr>
		    <tr><th>{{_("Address")}}</th><td>{{ data.ipaddr }}</td> </tr>
		    <tr><th>{{_("Admin User")}}</th><td>{{ data.user }}</td> </tr>
		    <tr><th>{{_("Flow")}}</th> <td>
				    {%- for i in data.flows -%}	    
				    <a href="/flow/{{i.id}}">{{ i.name }}</a> &nbsp;
				    {%- endfor -%} </td> </tr>
		    </table>
    </div>

    <div class='row'>
	    <div class='col'><button class='btn btn-primary btn-back'><i class='fa fa-arrow-left'>{{_("Back")}}</i></button></div>
	    <div class='col'><button class='btn btn-primary' type='button' data-toggle='modal' data-target='#myModal'><i class='fa fa-work-flow'>{{_("new flow")}}</i></button></div>
	    <div class='col'><button class='btn btn-primary btn-delete'><i class='fa fa-trash-alt'>{{_("Delete")}}</i></button></div>
    </div>
    
<script>
	$(document).ready(function() {
		$(".btn-back").click(function(){window.history.back();});
                $(".btn-delete").click(function(){
			$.ajax({url:"/device/{{ data.id }}",method:"DELETE", success: function(e){
				if (e == "failed") {
					alert("{{_("could not delete this device")}}");
				}else{
				        window.open("/device",'_self');
				}
			}, error:function(e){
				alert(e);
				}})
		});
		$(".btn-flow").click(function(){
			$.ajax({url:"/flow/",data:"name="+$("#flowname").val(), method:"PUT", success: function(e){
				alert(e)
				window.open("/flow/"+e,'_self');
			}, error:function(e){
				alert(e)
			} });
		});
	});
</script>    
</main>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
	      <h5 class="modal-title" id="exampleModalLabel">{{_("New Flow Name")}}</h5>
        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
	      <input class="form-control input-normal" type='input' name='name' id="flowname" value=''>
      </div>
      <div class="modal-footer">
	      <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_("Close")}}</button>
	      <button type="button" class="btn btn-primary btn-flow">{{_("Save and edit")}}</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
