{% extends "layout.html" %}
{% block main %}
{% set serverids = data.servers | map(attribute='id')|list() %}
{% set fileids = data.files | map(attribute='id')|list() %}
<main role="main" class="col-md-9 col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
    </div>
    <div>
    <form role="form" method="post">
    <div class="row">
       <div class="col">
	   Flow name
	   <pre class="code bg-light"><input class="form-control input-normal" type='input' name='name' value='{{ data.name}}' {{ editable }}></pre>
       </div>
    </div>
    <div class="row">
	    <div class="col"> Servers </div>
	    <div class="col"> Templates </div>
    </div>
    <div class="row">
	    <div class="col"><select name='servers' multiple {{ editable }}>
			    {%- for i in servers -%}
			    {%- if i.id in serverids -%}
			     <option value='{{ i.id }}' selected>{{ i.name }}</option>
			     {%- else -%}
			     <option value='{{ i.id }}' >{{ i.name }}</option>
			     {%- endif -%}
			    {%- endfor -%}
		    </select></div>
	    <div class="col"><select name='templates' multiple {{ editable }}>
			    {%- for i in templates -%}
			    {%- if i.id in fileids -%} 
			    <option value='{{ i.id }}' selected>{{ i.name }}</option>
			     {%- else -%}
			    <option value='{{ i.id }}'>{{ i.name }}</option>
			     {%- endif -%}
			    {%- endfor -%}
		    </select></div>
    </div>
    <div class="row">
	    <div class ="col">Precommand</div>
    </div>
    <div class="row">
	    <div class ="col">
		    <textarea class="form-control" id="file_conent" type="text" name="precmd" rows=2 {{ editable }} >{{ data.precmd or '' }}</textarea>
 	    </div>
    </div>
    <div class="row">
	    <div class ="col">Postcommand</div>
    </div>
    <div class="row">
	    <div class ="col">
		    <textarea class="form-control" type="text" name="postcmd" rows=2 {{ editable }} >{{ data.postcmd or '' }}</textarea>
	    </div>
    </div>
	    
    <div class="row">
       {% if editable == 'readonly' %}
	    <input type="hidden" name='editable' value='True'>
       <div class="col">
	    <button class="btn btn-outline-primary btn-edit" style="margin-left:10px;" id="submit" placeholder="submit keys"><i class="fa fa-submit">edit</i></button>
       </div>
       <div class="col">
	    <button class="btn btn-outline-primary btn-edit" style="margin-left:10px;" id="syncout" placeholder="submit keys"><i class="fa fa-submit">write to server</i></button>
       </div>
       {% else %}
	    <input type="hidden" name='editable' value='readonly'>
       <div class="col">
        <button class="btn btn-outline-primary" style="margin-left:10px;" id="submit" placeholder="submit keys"><i class="fa fa-submit">submit</i></button>
       </div>
       <div class="col">
        <button class="btn btn-outline-primary" style="margin-left:10px;" id="delete" placeholder="delete keys"><i class="fa fa-delete">delete</i></button>
       </div>
       {% endif %} 
    </div>
    </form>
    <!--script> 
	    $(document).ready(function() {
		$("#submit").click(function(e){
			console.log(e)
			window.open("?editable=true","_self");
		});
	    });
    </script-->
    </div>
</main>
{% endblock %}
