{% extends "layout.html" %}
{% block main %}
<main role="main" class="col-md-9 col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
    </div>
    <div>
    <form role="form" method="post" id='formid'>
    <div class="row">
       <div class="col">
	       {{_("name")}}
	       <pre class="code bg-light"><input class="form-control input-normal" type='input' name='name' value='{{ fileobj.name or ""  }}' {{ editable}} ></pre>
       </div>
    </div>
    <div class="row">
       <div class="col">
	       {{_("filename")}}
	       <pre class="code bg-light"><input class="form-control input-normal" type='input' name='path' value='{{ fileobj.path or ""  }}' {{ editable}} ></pre>
       </div>
    </div>
    <div class="row">
	    <div class="col"> {{_("owner")}} </div>
	    <div class="col"> {{_("group")}} </div>
	    <div class="col"> {{_("mode")}} </div>
	    <div class="col"> {{_("Type")}} </div>
	    <div class="col"> {{_("Flow")}} </div>
    </div>
    <div class="row">
       <div class="col"><pre class="code bg-light"><input class="form-control input-normal" type='input' name='owner' value='{{ fileobj.owner or "" }}' {{ editable }}></pre></div>
       <div class="col"><pre class="code bg-light"><input class="form-control input-normal" type='input' name='group' value='{{ fileobj.group or "" }}' {{ editable }}></pre></div>
       <div class="col"><pre class="code bg-light"><input class="form-control input-normal" type='input' name='mode' value='{{ fileobj.mode or "" }}' {{ editable }}></pre></div>
       <div class="col"><pre class="code bg-light"><select class="form-control" name='type' {{ editable == 'readonly' and 'disabled'  }}>
        {% for i in ['Shell','Jinja','File'] -%}
	    {%- if fileobj.type == i-%}
	    <option selected>{{i}}</option> 
	    {%- else -%}
	    <option>{{i}}</option> 
	    {%- endif -%}
        {%- endfor %}
       </select></pre></div>
       <div class="col"><pre class="code bg-light form-control">{{ fileobj.flow.name }}</pre></div>
    </div>
    <div class="row">
	    <div class ="col">{{_("Content")}}</div>
    </div>
    <div class="row">
       <div class="col">
	       <textarea class="form-control" type="text" name="text" data-lang='shell' rows=10 {{ editable }}>{{ fileobj.text  or ''}}</textarea>
       </div>
    </div>
    {%- if editable != 'readonly' -%}
       <input type="hidden" name='editable' value='readonly'>	    
    {% else %}
       <input type="hidden" name='editable' value='True'>	    
    {% endif %}
    </form>
&nbsp;
    {%- if editable != 'readonly' -%}
    <div class="row">
       <div class="col">
	       <button class="btn btn-outline-primary" style="margin-left:10px;" id="submit" placeholder="submit keys" name="action" value="save" onclick=document.forms[0].submit()><i class="fa fa-submit">{{_("submit")}}</i></button>
       </div>
       <div class="col">
	       <button class="btn btn-outline-primary" style="margin-left:10px;" id="download" placeholder="submit keys" name="action" value="doanload"><i class="fa fa-submit">{{_("download from server")}}</i></button>
       </div>
       <div class="col">
	       <button class="btn btn-outline-primary" style="margin-left:10px;" id="delete" placeholder="delete keys" name="action" value="delete"><i class="fa fa-delete">{{_("Delete")}}</i></button>
       </div>
    </div>
    {% else %}
    <div class="row">
       <div class="col">
	       <button class="btn btn-outline-primary btn-edit" style="margin-left:10px;" id="submit" placeholder="submit keys" name="action" value="edit" onclick=document.forms[0].submit()><i class="fa fa-submit">{{_("edit")}}</i></button>
       </div>
    </div>
    {% endif %}
    <script> 
	$(document).ready(function() {
		$("#download").click(function(){
                        $.ajax({url:"/template/{{ fileobj.id }}",data:$("#formid").serialize(),method:"HEAD", success: function(e){
                                if (e == "failed") {
					alert("{{_("Discover failed")}}");
                                }else{
					window.open("/template/{{fileobj.id}}",'_self');
                                }
                                }})

		});
                $("#delete").click(function(){
                        $.ajax({url:"/template/{{ fileobj.id }}",method:"DELETE", success: function(e){
                                if (e == "failed") {
					alert("{{_("could not delete this device")}}");
                                }else{
					window.open("/template/",'_self');
                                }
                                }})
                });
	});
    </script>
    </div>
</main>
{% endblock %}
